body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    background-color: #e5e8fa
}

.container-fluid {
    padding: 0;
}

.bg-dark {
    background-color: #03071E;
    color: azure;
}

.navbar.bg-dark {
    background-color: #03071E !important;
    padding-left: 12px;
    padding-right: 12px;
}

.red-dark {
    background-color: #370617;
    color: azure;
}

.carousel-caption {
    background-color: #03071E;
}

.ss-text-box {
    background-color: #03071E;
    color: azure;
    padding: 20px;
    margin: 25px;
    border-radius: 15px;
}

.right-sep {
    border-right: 3px solid #370617;
}

h1,h2,h3,h4 {
    font-weight: 300;
}